@model ProductUpdateModel

<form asp-action="UpdateProduct" asp-controller="Product" method="post">
    <div class="form-row my-2">
        <div class="form-group">
            <label>Product Name</label>
            <input asp-for="@Model.ProductName" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" asp-for="@Model.Price" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Stock</label>
            <input asp-for="@Model.Stock" class="form-control" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <div class="text-danger" asp-validation-summary="All"></div>
</form>